{% extends "doctorsApp/layouts/base.html" %}
{% load i18n %}
{% block content %}
<main class ="container py-4">
    <div class ="card bg-secondary">
        <div class="card-body text-center align-items-center text-white">
            <h2><strong>{% trans 'Lista de pacientes' %}</strong></h2>
        </div>
    </div>
        
    <br>

    {% for patient in patients %}

        <div class="card card-body ">
            <div class="row text-center">
                <div class="col-lg-2">
                    <div class="row justify-content-center"><strong>{% trans 'Paciente'%}</strong></div>
                    <div class="row justify-content-center py-3">{{patient.name}}
                    {{patient.surname}}</div>
                </div>
                <div class="col-lg-2">
                    <div class="row justify-content-center"><strong>{% trans 'Profesional'%}</strong></div>
                    <div class="row justify-content-center py-3">{{patient.doctor_name}}
                    {{patient.doctor_surname}}</div>
                </div>
                <div class="col-lg-2">
                    <div class="row justify-content-center "><strong>{% trans 'Ayer'%}</strong></div>
                    <div class="row justify-content-center py-4">
                        <div class="col-10">
                            {% if patient.percentage >= 75 %}
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar"
                                        style="width: {{patient.percentage}}%" 
                                        aria-valuenow="{% if patient.percentage != None %}{{patient.percentage}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            {% elif patient.percentage >= 30 %}
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar"
                                        style="width: {{patient.percentage}}%" 
                                        aria-valuenow="{% if patient.percentage != None %}{{patient.percentage}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            {% else %}
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar"
                                        style="width: {{patient.percentage}}%" 
                                        aria-valuenow="{% if patient.percentage != None %}{{patient.percentage}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="row justify-content-center"><strong>{% trans 'Semana pasada'%}</strong></div>
                    <div class="row justify-content-center py-4">
                        <div class="col-10">
                            {% if patient.percentage_week >= 75 %}
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar"
                                        style="width: {{patient.percentage_week}}%" 
                                        aria-valuenow="{% if patient.percentage_week != None %}{{patient.percentage_week}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            {% elif patient.percentage_week >= 30 %}
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar"
                                        style="width: {{patient.percentage_week}}%" 
                                        aria-valuenow="{% if patient.percentage_week != None %}{{patient.percentage_week}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            {% else %}
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar"
                                        style="width: {{patient.percentage_week}}%" 
                                        aria-valuenow="{% if patient.percentage_week != None %}{{patient.percentage_week}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="row justify-content-center"><strong>{% trans 'Mes pasado'%}</strong></div>
                    <div class="row justify-content-center py-4">
                        <div class="col-10">
                            {% if patient.percentage_month >= 75 %}
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar"
                                        style="width: {{patient.percentage_month}}%" 
                                        aria-valuenow="{% if patient.percentage_month != None %}{{patient.percentage_month}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            {% elif patient.percentage_month >= 30 %}
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar"
                                        style="width: {{patient.percentage_month}}%" 
                                        aria-valuenow="{% if patient.percentage_month != None %}{{patient.percentage_month}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            {% else %}
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar"
                                        style="width: {{patient.percentage_month}}%" 
                                        aria-valuenow="{% if patient.percentage_month != None %}{{patient.percentage_month}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="row justify-content-center"><strong>{% trans 'Resumen'%}</strong></div>
                    <div class="row justify-content-center py-3">
                        <div class="col-auto">
                            <a type="button" class="btn btn-outline-primary" href="{% url 'doctorsApp:summary' patient.id_patient %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>

    {% endfor %}
    
</main>
{% endblock %}