{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="es">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AI2EPD</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'doctorsApp/favicon.ico' %}"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
        {% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'doctorsApp/css/fonts.css' %}" />{% endblock %}
    </head>

    <body class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'doctorsApp:home' %}">
                    <img src="{% static 'doctorsApp/logo.png' %}" alt="Logo" style="width: 120px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2">
                    {% url 'doctorsApp:home' as url %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == url %}active{% endif %}" aria-current="page" href="{% url 'doctorsApp:home' %}">{%trans 'Pacientes'%}</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class= "align-items-center my-auto mb-2 pe-4">
                        <span class="navbar-text">{{ user }}</span>                       
                    </li>
                    <li>
                        <a class="nav-item btn btn-danger" href="{% url 'startPage:logout' %}" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                            </svg>
                            {%trans 'Cerrar sesión' %}
                        </a>
                    </li>
                </ul>
            </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        
        <div class="container mt-auto">
            <footer class="d-flex flex-wrap justify-content-between align-items-end py-3 my-4 border-top">
                <ul class="nav col-md-12 justify-content-end">
                    <li class="nav-item"><a href="{% url 'doctorsApp:home' %}" class="nav-link px-2 text-muted">{%trans 'Pacientes'%}</a></li>
                    {% if group == 'admin' %}
                        <li class="nav-item">
                            <a class="nav-item btn btn-secondary" href="{% url 'adminManager:home' %}" >
                                {%trans 'App de gestión'%}
                            </a>
                        </li>
                    {% endif %}
                </ul>
                <p class="col-md-12 mb-0 mt-2 text-muted">{% trans '© 2022 Proyecto AI2EPD. Inteligencia artificial para empoderar al paciente con diabetes a través de la monitorización de las actividades diarias.' %}</p> 
            </footer>
        </div>

    </body>

</html>