{% load i18n %}
{% load crispy_forms_tags %}
<div class="card-body">
    <div class="card-subtitle mb-4 text-muted">
        <h4 class = "text-muted">
        {% trans 'Paciente'%}: {{ patient.name }} {{ patient.surname }}
        </h4>
        <h5 class = "mtext-muted">
            {% trans 'Fecha de inicio en el proyecto' %}: {{ patient.date_start }}
        </h5>
    </div>
    
    {% if result %}
        {% for key, result in result.contract_data.items %}
        <div class="card card-body">
            <div class="pb-4">
                <h5 class="text-muted">{%trans 'Id contrato'%}: {{key}}</h5>
            </div>
            <div class="row align-items-center py-auto">
                <div class="col-md-3">
                    <h5><strong>{% trans 'Actividad'%}</strong></h5>
                </div>
                <div class="col-md-2">
                    <h5><strong>{% trans 'Objetivo' %}</strong></h5>
                </div>
                <div class="col-md-2">
                    <h5><strong>{% trans 'Media por día'%}</strong></h5>
                </div>
                <div class="col-md-3">
                    <h5><strong>{% trans 'Progreso'%}</strong></h5>
                </div>
                <div class="col-md-2 text-center">
                    <h5><strong>{% trans 'Porcentaje'%}</strong></h5>
                </div>
            </div>

            <div class="row align-items-center py-auto">
                <div class="col-md-3">
                    <h5>{% trans 'Actividad física'%}</h5>
                </div>
                <div class="col-md-2">
                    <h5>{{result.activity.objetive}} {%trans 'minutos'%}</h5>
                </div>
                <div class="col-md-2">
                    {% if result.activity.minutes == 1 %}
                        <h5>{{ result.activity.minutes }} {% trans 'minuto'%}</h5>
                    {% else %}
                        <h5>{{ result.activity.minutes }} {% trans 'minutos'%}</h5>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    {% if result.activity.percent >= 75 %}
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" 
                                style="width: {{result.activity.percent}}%" 
                                aria-valuenow="{% if result.activity.percent != None %}{{result.activity.percent}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    {% elif result.activity.percent >= 30 %}
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" 
                                style="width: {{result.activity.percent}}%" 
                                aria-valuenow="{% if result.activity.percent != None %}{{result.activity.percent}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    {% else %}
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" 
                                style="width: {{result.activity.percent}}%" 
                                aria-valuenow="{% if result.activity.percent != None %}{{result.activity.percent}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    {% endif %}

                </div>
                <div class="col-md-2">
                    <div class="text-center">
                        <h5>{% if result.activity.percent %} {{result.activity.percent}}% {% else %} 0% {% endif %}</h5>
                    </div>
                </div>
            </div>

            <div class="row align-items-center py-auto">
                <div class="col-md-3">
                    <h5>{% trans 'Descanso'%}</h5>
                </div>
                <div class="col-md-2">
                    <h5>{{result.sleep.objetive}} {%trans 'minutos'%}</h5>
                </div>
                <div class="col-md-2">
                    {% if result.sleep.minutes == 1 %}
                        <h5>{{ result.sleep.minutes }} {% trans 'minuto'%}</h5>
                    {% else %}
                        <h5>{{ result.sleep.minutes }} {% trans 'minutos'%}</h5>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    {% if result.sleep.percent >= 75 %}
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" 
                                style="width: {{result.sleep.percent}}%" 
                                aria-valuenow="{% if result.sleep.percent != None %}{{result.sleep.percent}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    {% elif result.sleep.percent >= 30 %}
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" 
                                style="width: {{result.sleep.percent}}%" 
                                aria-valuenow="{% if result.sleep.percent != None %}{{result.sleep.percent}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    {% else %}
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" 
                                style="width: {{result.sleep.percent}}%" 
                                aria-valuenow="{% if result.sleep.percent != None %}{{result.sleep.percent}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-2">
                    <div class="text-center">
                        <h5>{% if result.sleep.percent != None %} {{result.sleep.percent}}% {% else %} 0% {% endif %}</h5>
                    </div>
                </div>
            </div>

            <div class="row align-items-center py-auto">
                <div class="col-md-3">
                    <h5>{% trans 'Autocuidado: cepillado de dientes'%}</h5>
                </div>
                <div class="col-md-2">
                    {% if result.brush_teeth.objetive == 1 %}
                        <h5>{{ result.brush_teeth.objetive }} {% trans 'vez'%}</h5>
                    {% else %}
                        <h5>{{ result.brush_teeth.objetive }} {% trans 'veces'%}</h5>
                    {% endif %}
                </div>
                <div class="col-md-2">
                    {% if result.brush_teeth.times == 1 %}
                        <h5>{{ result.brush_teeth.times }} {% trans 'vez'%}</h5>
                    {% else %}
                        <h5>{{ result.brush_teeth.times }} {% trans 'veces'%}</h5>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    {% if result.brush_teeth.percent >= 75 %}
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" 
                                style="width: {{result.brush_teeth.percent}}%" 
                                aria-valuenow="{% if result.brush_teeth.percent != None %}{{result.brush_teeth.percent}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    {% elif result.brush_teeth.percent >= 30 %}
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" 
                                style="width: {{result.brush_teeth.percent}}%" 
                                aria-valuenow="{% if result.brush_teeth.percent != None %}{{result.brush_teeth.percent}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    {% else %}
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" 
                                style="width: {{result.brush_teeth.percent}}%" 
                                aria-valuenow="{% if result.brush_teeth.percent != None %}{{result.brush_teeth.percent}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-2">
                    <div class="text-center">
                        <h5>{% if result.brush_teeth.percent != None %} {{result.brush_teeth.percent}}% {% else %} 0% {% endif %}</h5>
                    </div>
                </div>
            </div>

            <div class="row align-items-center py-auto">
                <div class="col-md-3">
                    <h5>{% trans 'Autocuidado: ducha'%}</h5>
                </div>
                <div class="col-md-2">
                    {% if result.shower.objetive == 1 %}
                        <h5>{{ result.shower.objetive }} {% trans 'vez'%}</h5>
                    {% else %}
                        <h5>{{ result.shower.objetive }} {% trans 'veces'%}</h5>
                    {% endif %}
                </div>
                <div class="col-md-2">
                    {% if result.shower.times == 1 %}
                        <h5>{{ result.shower.times }} {% trans 'vez'%}</h5>
                    {% else %}
                        <h5>{{ result.shower.times }} {% trans 'veces'%}</h5>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    {% if result.shower.percent >= 75 %}
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" 
                                style="width: {{result.shower.percent}}%" 
                                aria-valuenow="{% if result.shower.percent != None %}{{result.shower.percent}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    {% elif result.shower.percent >= 30 %}
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" 
                                style="width: {{result.shower.percent}}%" 
                                aria-valuenow="{% if result.shower.percent != None %}{{result.shower.percent}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    {% else %}
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" 
                                style="width: {{result.shower.percent}}%" 
                                aria-valuenow="{% if result.shower.percent != None %}{{result.shower.percent}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-2">
                    <div class="text-center">
                        <h5>{% if result.shower.percent != None %} {{result.shower.percent}}% {% else %} 0% {% endif %}</h5>
                    </div>
                </div>
            </div>


            <div class="row align-items-center py-auto">
                <div class="col-md-3">
                    <h5>{% trans 'Alimentación'%}</h5>
                </div>
                <div class="col-md-2">
                    {% if result.eat.objetive == 1 %}
                        <h5>{{ result.eat.objetive }} {% trans 'vez'%}</h5>
                    {% else %}
                        <h5>{{ result.eat.objetive }} {% trans 'veces'%}</h5>
                    {% endif %}
                </div>
                <div class="col-md-2">
                    {% if result.eat.times == 1 %}
                        <h5>{{ result.eat.times }} {% trans 'vez'%}</h5>
                    {% else %}
                        <h5>{{ result.eat.times }} {% trans 'veces'%}</h5>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    {% if result.eat.percent >= 75 %}
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" 
                                style="width: {{result.eat.percent}}%" 
                                aria-valuenow="{% if result.eat.percent != None %}{{result.eat.percent}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    {% elif result.eat.percent >= 30 %}
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" 
                                style="width: {{result.eat.percent}}%" 
                                aria-valuenow="{% if result.eat.percent != None %}{{result.eat.percent}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    {% else %}
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" 
                                style="width: {{result.eat.percent}}%" 
                                aria-valuenow="{% if result.eat.percent != None %}{{result.eat.percent}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-2">
                    <div class="text-center">
                        <h5>{% if result.eat.percent != None %} {{result.eat.percent}}% {% else %} 0% {% endif %}</h5>
                    </div>
                </div>
            </div>

            <div class="row align-items-center py-auto">
                <div class="col-md-3">
                    <h5>{% trans 'Medicación'%}</h5>
                </div>
                <div class="col-md-2">
                    {% if result.medication.objetive == 1 %}
                        <h5>{{ result.medication.objetive }} {% trans 'vez'%}</h5>
                    {% else %}
                        <h5>{{ result.medication.objetive }} {% trans 'veces'%}</h5>
                    {% endif %}
                </div>
                <div class="col-md-2">
                    {% if result.medication.times == 1 %}
                        <h5>{{ result.medication.times }} {% trans 'vez'%}</h5>
                    {% else %}
                        <h5>{{ result.medication.times }} {% trans 'veces'%}</h5>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    {% if result.medication.percent >= 75 %}
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" 
                                style="width: {{result.medication.percent}}%" 
                                aria-valuenow="{% if result.medication.percent != None %}{{result.medication.percent}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    {% elif result.medication.percent >= 30 %}
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" 
                                style="width: {{result.medication.percent}}%" 
                                aria-valuenow="{% if result.medication.percent != None %}{{result.medication.percent}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    {% else %}
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" 
                                style="width: {{result.medication.percent}}%" 
                                aria-valuenow="{% if result.medication.percent != None %}{{result.medication.percent}}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-2">
                    <div class="text-center">
                        <h5>{% if result.medication.percent != None %} {{result.medication.percent}}% {% else %} 0% {% endif %}</h5>
                    </div>
                </div>
            </div>
        </div>

        <br>

        {% endfor %}

    {% else %}
        <div class ="text-center"><h5>{%trans 'No hay datos disponibles durante ese periodo'%}</h5></div>
    {% endif %}
    
    <br>
</div>